<header class="main__header navbar-fixed-top">
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="navbar-header">
        <a class="navbar-brand log" ui-sref="app.home"><img src="/images/flowers/logo.png" class="logo-img" alt="logo"/></a>
<!--<h1 class="navbar-brand"><a href="index.html" style="background-image: url('/images/images_logo.jpg');"></a></h1>-->
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
</div>
<div class="navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    <li ng-class="{'active': $state.current.name == 'app.home'}"><a ui-sref="app.home">Trang Chủ</a></li>
    <li ng-class="{'active': $state.current.name == 'app.about'}"><a ui-sref="app.about">Giới Thiệu</a></li>
    <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sản Phẩm</a>
      <ul class="dropdown-menu">
        <!-- <li><a ui-sref="app.product">Hoa Cúc</a></li>
        <li><a href="">Hoa Hồng</a></li>
        <li><a href="">Hoa Ly</a></li>
        <li><a href="">Hoa Đồng Tiền</a></li>
        <li><a href="">Hoa Cẩm Chướng</a></li>
        <li><a href="">Hoa Cẩm Tú Cầu</a></li> -->
        <li ng-repeat="c in categories"><a href="#" ng-click="goToPage('app.product', {catId: c.id})">{{c.name}}</a></li>
      </ul>
    </li>
    <li ng-class="{'active': $state.current.name == 'app.guide'}"><a ui-sref="app.guide">Hướng Dẫn Đặt Hoa </a></li>
    <li ng-class="{'active': $state.current.name == 'app.contact'}"><a ui-sref="app.contact">Liên Hệ</a></li>
  </ul>
</div>
<!--<div class="navbar-right">
        <p>
          <iframe src="http://www.facebook.com/plugins/likebox.php?href=http://www.facebook.com/facebook&width=250&height=258&colorscheme=light&show_faces=true&border_color&stream=false&header=false"
            scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:250px; height:270px;" allowTransparency="true"></iframe>
        </p>
        <div class="clr"></div>
      </div>-->
</nav>
</div>
</header>

<section class="main_section_container content-wraper">
  <div ng-class="{'container': $state.current.name != 'app.home'}">
    <div class="row nothing" ng-class="{'no-padding no-margin' : notShowSideBar.indexOf($state.current.name) >= 0}">
      <!--<div class="btn-group btn-breadcrumb" ng-if="notShowSideBar.indexOf($state.current.name) < 0">
        <a href="#" class="btn btn-info"><i class="glyphicon glyphicon-home"></i></a>
        <a href="#" class="btn btn-info">Snippets</a>
        <a href="#" class="btn btn-info">Breadcrumbs</a>
        <a href="#" class="btn btn-info">Info</a>
      </div>-->
      <section ui-view class="main-content col" ng-class="{'col-sm-8': notShowSideBar.indexOf($state.current.name) < 0}">
      </section>
      <aside class="col-sm-4" ng-if="notShowSideBar.indexOf($state.current.name) < 0">
        <h3><span>Facebook</span></h3>
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FHoa-t%25C6%25B0%25C6%25A1i-gi%25C3%25A1-s%25E1%25BB%2589-554722921369126%2F%3Ffref%3Dts&tabs=timeline&width=350&height=200&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId"
          width="350" height="200" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
<h3><span>Hoa bán chạy</span></h3>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.</p>
<img src="images/content__images/hoa_ly_3_300_130.jpg" alt="image" width="300px;" height="130px">
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat
  ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
<p><a href="#" role="button" class="btn btn-primary">Learn more</a></p>
<h3><span>Danh mục sản phẩm</span></h3>
<ul>
  <li><a href="">Hoa Ly</a></li>
  <li><a href="">Hoa Hồng</a></li>
  <li><a href="">Hoa Cúc</a></li>
  <li><a href="">Hoa Đồng Tiền</a></li>
  <li><a href="">Hoa Cẩm Chướng</a></li>
  <li><a href="">Hoa Salem</a></li>
  <li><a href="">Hoa Lan</a></li>
  <li><a href="">Hoa Huệ Trắng</a></li>
</ul>
</aside>
</div>
</div>
</section>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Giới thiệu</h3>
        <p>We strive to deliver a level of service that exceeds the expectations of our customers. <br />
          <br /> If you have any questions about our products or services, please do not hesitate to contact us. We have
          friendly, knowledgeable representatives available seven days a week to assist you.</p>
      </div>
      <div class="col-md-4">
        <h3>Tin nhắn khuyến mại</h3>
        <p>Bạn hãy theo dõi danh sách gửi thư của chúng tôi , để cập nhật tin tức và giá của các loại mặt hàng hoa!</p>
        <br />
        <form action="#" method="post" class="form-inline" role="form">
          <div class="form-group">
            <label class="sr-only" for="exampleInputEmail2">Email:</label>
            <input type="email" class="form-control form-control-lg" id="exampleInputEmail2" placeholder="Email của bạn">
          </div>
          <button type="submit" class="btn btn-primary">subscribe</button>
        </form>
      </div>
      <div class="col-md-4">
        <h3>Liên hệ</h3>
        <p>ĐC: 123 Business Way, San Francisco, CA 94108, VN<br /> Phone: (888) 123-4567<br /> Fax: (887) 123-4567<br />
          <br />
        </p>
        <div class="social__icons">
          <a href="#" class="socialicon socialicon-facebook"></a>
          <a href="#" class="socialicon socialicon-google"></a>
          <a href="#" class="socialicon socialicon-mail"></a>
        </div>
      </div>
    </div>
    <hr>
    <p class="text-center">&copy; Copyright ABC Company. All Rights Reserved.</p>
  </div>
</footer>
