<header class="main__header navbar-fixed-top">
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="navbar-header">
        <div class="logo" style="height :100Px;">
          <img src="/images/images_logo.jpg" style="height :100%;">
        </div>
        <!--<h1 class="navbar-brand"><a href="index.html" style="background-image: url('/images/images_logo.jpg');"></a></h1>-->
        <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>-->
      </div>
      <div class="navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="index.html" style="background-color: transparent;">Trang Chủ</a></li>
          <li><a ui-sref="app.about">Giới Thiệu</a></li>
          <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sản Phẩm</a>
            <ul class="dropdown-menu">
              <li><a href="">Hoa Cúc</a></li>
              <li><a href="">Hoa Hồng</a></li>
              <li><a href="">Hoa Ly</a></li>
              <li><a href="">Hoa Đồng Tiền</a></li>
              <li><a href="">Hoa Cẩm Chướng</a></li>
              <li><a href="">Hoa Cẩm Tú Cầu</a></li>
            </ul>
          </li>
          <li><a ui-sref="">Hướng Dẫn Đặt Hoa </a></li>
          <li><a ui-sref="app.contact">Liên Hệ</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<div ui-view="contents" class="content-wraper"></div>
<div ui-view="sidebars" class="content-wraper"></div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Giới thiệu</h3>
        <p>We strive to deliver a level of service that exceeds the expectations of our customers. <br />
          <br /> If you have any questions about our products or services, please do not hesitate to contact us. We have
          friendly, knowledgeable representatives available seven days a week to assist you.</p>
      </div>
      <div class="col-md-4">
        <h3>Tin nhắn khuyến mại</h3>
        <p>Bạn hãy theo dõi danh sách gửi thư của chúng tôi , để cập nhật tin tức và giá của các loại mặt hàng hoa!</p>
        <br />
        <form action="#" method="post" class="form-inline" role="form">
          <div class="form-group">
            <label class="sr-only" for="exampleInputEmail2">Email:</label>
            <input type="email" class="form-control form-control-lg" id="exampleInputEmail2" placeholder="Email của bạn">
          </div>
          <button type="submit" class="btn btn-primary">subscribe</button>
        </form>
      </div>
      <div class="col-md-4">
        <h3>Liên hệ</h3>
        <p>ĐC: 123 Business Way, San Francisco, CA 94108, VN<br /> Phone: (888) 123-4567<br /> Fax: (887) 123-4567<br />
          <br />
        </p>
        <div class="social__icons">
          <a href="#" class="socialicon socialicon-facebook"></a>
          <a href="#" class="socialicon socialicon-google"></a>
          <a href="#" class="socialicon socialicon-mail"></a>
        </div>
      </div>
    </div>
    <hr>
    <p class="text-center">&copy; Copyright ABC Company. All Rights Reserved.</p>
  </div>
</footer>