<div class="news-detail">
    <p><strong>Hướng dẫn mua hàng</strong></p>
    <p><span>Đối với khách hàng đặt hoa dịp lễ 14/2, 8/3, 20/10, 20/11, tết nguyên đán: vui lòng xem bảng giá tại mục bảng giá trên website (Thông thường chúng tôi sẽ cho đăng giá sỉ đặt trước cho dịp lễ khoảng một tháng trước lễ). Sau khi đã biết giá hoa và các loại phụ liệu quý khách nhắn tin qua điện thoại hoặc gửi email nội dung: loại hoa, số lượng, ngày nhận hoa, địa chỉ nhận hoa ( Ví dụ khách hàng lấy hoa về Tp. Rạch Giá, Kiên Giang thì nói rõ lấy hoa về Rạch Giá), tên, số điện thoại người nhận hoa. Khách hàng ở tỉnh có xe quen thì vui lòng gửi kèm số điện thoại xe quen để chúng tôi gửi đúng xe cho quý khách. Quý khách hàng có sử dụng zalo, facebook thì có thể gửi đơn hàng qua zalo, facebook.</span></p>
    <p><span>Đối với khách hàng đặt hoa ngày thường: Vì giá hoa ngày thường có biến động nên quý khách vui lòng nhắn tin hoặc gửi email nội dung: loại hoa, số lượng, ngày lấy hoa. Chúng tôi sẽ gửi báo giá hoa sỉ vào ngày quý khách cần để quý khách cân nhắc đặt hoa. Quý khách có sử dụng zalo, facebook có thể gửi yêu cầu báo giá qua zalo, facebook.</span></p>
    <p><strong><span>Chú ý:</span></strong></p>
    <p>- Xin<span>&nbsp;</span><span>đừng</span><span>&nbsp;</span>nhắn tin ĐT hỏi hàng và qui cách cây,... (vì sẽ mất thời
        gian Chat qua tin nhắn rất nhiều). Có thể hỏi qua email, web, facebook, zalo.</p>
    <p><strong>-</strong><span><strong>&nbsp;</strong></span>Nếu bạn nào dùng mạng Vina, Mobi thì mình gọi lại ko mất tiền.</p>
    <p>- Ưu tiên nghe ĐT sau 17h.</p>
    <p>- Nhận đơn đặt hàng qua tin nhắn (sẽ gọi ĐT lại).</p>
    <p>- Nếu có đặt thêm hàng, nhắc hàng, xin vui lòng nhắn tin, gởi mail, nhắn qua web, zalo, facebook. Xin đừng gọi điện thoại
        vì có lúc đi ra ngoài sẽ không nhớ, sẽ làm thiếu hàng khi gởi.</p>
    <p>- Các bạn gọi điện mà máy bận (đang nghe điện thoại của người khác), hoặc không nghe máy ( đang làm vườn hoặc đi ra ngoài)
        thì vui lòng nhắn tin, mình sẽ gọi lại sau đó.</p>
</div>