<div ng-init="init()">
    <article ng-repeat="p in products" class="row none-padding">
        <div class="col col-sm-4">
            <img ng-src="{{p.imgUrls[0]}}" alt="pic3" class="img-responsive">
        </div>
        <div class="col col-sm-8">
            <div class="text">
                <h3><span class="product-name" ng-click="goToDetail(p.id)">{{p.name}}</span></h3>
                <p>{{p.shortDes}}</p>
                <p><a href="#" class="btn btn-info">Learn more</a></p>
            </div>
        </div>
        <div class="clearfix"></div>
    </article>
    <div class="row none-padding">
        <div class="col col-sm-12">
            <paging ng-model="products" get-data="getProductsByPage" count="count" items-per-page="6"></paging>
        </div>
    </div>
</div>
