<div ng-init="init()">
    <article> <img src="images/content__images/image_240x230.jpg" alt="pic1" class="pull-left img-responsive" style="margin-right: 10px;">
        <div class="text">
            <h3><a href="#">Lorem ipsum dolor sit consectetuer adipiscing elit. Donec odio.</a></h3>
            <p class="small-paragraph">Lorem ipsum dolor sit amet</p>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada
                erat ut turpis. Suspendisse urna</p>
            <p><a href="#" class="btn btn-info">Learn more</a></p>
        </div>
        <div class="clearfix"></div>
    </article>
    <article> <img src="images/content__images/image_240x230.jpg" alt="pic2" class="pull-left img-responsive" style="margin-right: 10px;">
        <div class="text">
            <h3><a href="#">Lorem ipsum dolor sit consectetuer adipiscing elit. Donec odio.</a></h3>
            <p class="small-paragraph">Lorem ipsum dolor sit amet</p>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada
                erat ut turpis. Suspendisse urna</p>
            <p><a href="#" class="btn btn-info">Learn more</a></p>
        </div>
        <div class="clearfix"></div>
    </article>
    <article> <img src="images/content__images/image_240x230.jpg" alt="pic3" class="pull-left img-responsive" style="margin-right: 10px;">
        <div class="text">
            <h3><a href="#">Lorem ipsum dolor sit consectetuer adipiscing elit. Donec odio.</a></h3>
            <p class="small-paragraph">Lorem ipsum dolor sit amet</p>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada
                erat ut turpis. Suspendisse urna</p>
            <p><a href="#" class="btn btn-info">Learn more</a></p>
        </div>
        <div class="clearfix"></div>
    </article>

</div>