<div ng-init="init()">
  <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item" ng-repeat="item in sliderImgs" ng-class="{'active': $index == 0}">
        <img alt="First slide" ng-src="{{item.src}}">
        <div class="container">
          <div class="carousel-caption">
            <h1 style="text-transform: none;">{{item.title}}</h1>
<p>{{item.description}}</p>
</div>
</div>
</div>
</div>
<a class="left carousel-control bg-transparent" href="#myCarousel" data-slide="prev"><span class="glyphicon carousel-control-left"></span></a>
<a
  class="right carousel-control bg-transparent" href="#myCarousel" data-slide="next"><span class="glyphicon carousel-control-right"></span></a>
  </div>
  <!--end of slider section-->
  <div class="container">
    <div class="row text-center">
      <h2 class="">create your outstanding, <span class="blue">clean</span> and <span class="blue">high quality</span> website.</h2>
      <p class="big-paragraph">Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
    </div>
  </div>
  <div class="row no_padding icons__blocks text-center">
    <div class="container">
      <h2 class="page_title"><span>Dịch Vụ Của Chúng Tôi</span><br />
        <span class="sep"></span><br />
        <small>Các Loại Hoa Giá Sỉ Đang Bán</small></h2>
      <div class="row">
        <div class="col-md-4"> <img src="images/content__images/hoaly_1_300_190.jpg" alt="image" class="img-responsive img-rounded">
          <h3><a href="#">Hoa Ly</a></h3>
          <p class="small-paragraph">Vestibulum auctor dapibus neque.</p>
          <p>Quisque et aliquam mauris. Nunc id cursus quam. Curabitur aliquam ornare ante et commodo. Nulla eu erat id massa
            egestas eleifend. Sed id venenatis.</p>
          <p><a href="#" class="btn btn-info">Xem</a></p>
        </div>
        <div class="col-md-4"> <img src="images/content__images/hoahong_1_300_190.jpg" alt="image" class="img-responsive img-rounded">
          <h3><a href="#">Hoa Hồng</a></h3>
          <p class="small-paragraph">Vestibulum auctor dapibus neque.</p>
          <p>Quisque et aliquam mauris. Nunc id cursus quam. Curabitur aliquam ornare ante et commodo. Nulla eu erat id massa
            egestas eleifend. Sed id venenatis.</p>
          <p><a href="#" class="btn btn-info">Xem</a></p>
        </div>
        <div class="col-md-4"> <img src="images/content__images/hoacuc_4_300_190.jpg" alt="image" class="img-responsive img-rounded">
          <h3><a href="#">Hoa Cúc</a></h3>
          <p class="small-paragraph">Vestibulum auctor dapibus neque.</p>
          <p>Quisque et aliquam mauris. Nunc id cursus quam. Curabitur aliquam ornare ante et commodo. Nulla eu erat id massa
            egestas eleifend. Sed id venenatis.</p>
          <p><a href="#" class="btn btn-info">Xem</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4"> <img src="images/content__images/hoacattuong_1_300_190.jpg" alt="image" class="img-responsive img-rounded">
          <h3><a href="#">Hoa Cát Tường</a></h3>
          <p class="small-paragraph">Vestibulum auctor dapibus neque.</p>
          <p>Quisque et aliquam mauris. Nunc id cursus quam. Curabitur aliquam ornare ante et commodo. Nulla eu erat id massa
            egestas eleifend. Sed id venenatis.</p>
          <p><a href="#" class="btn btn-info">Xem</a></p>
        </div>
        <div class="col-md-4"> <img src="images/content__images/hoacamtucau_1_300_190.jpg" alt="image" class="img-responsive img-rounded">
          <h3><a href="#">Hoa Cẩm Tú Cầu</a></h3>
          <p class="small-paragraph">Vestibulum auctor dapibus neque.</p>
          <p>Quisque et aliquam mauris. Nunc id cursus quam. Curabitur aliquam ornare ante et commodo. Nulla eu erat id massa
            egestas eleifend. Sed id venenatis.</p>
          <p><a href="#" class="btn btn-info">Xem</a></p>
        </div>
        <div class="col-md-4"> <img src="images/content__images/hoacamchuong_2_300_190.jpg" alt="image" class="img-responsive img-rounded">
          <h3><a href="#">Hoa Cẩm Chướng</a></h3>
          <p class="small-paragraph">Vestibulum auctor dapibus neque.</p>
          <p>Quisque et aliquam mauris. Nunc id cursus quam. Curabitur aliquam ornare ante et commodo. Nulla eu erat id massa
            egestas eleifend. Sed id venenatis.</p>
          <p><a href="#" class="btn btn-info">Xem</a></p>
        </div>
      </div>

    </div>
  </div>
  </div>
  <!--<script type="text/javascript">
$('.carousel').carousel({
  interval: 3500, // in milliseconds
  pause: 'none' // set to 'true' to pause slider on mouse hover
})

</script>-->