<div ng-init="init()">
    <div class="row">
        <div class="col col-sm-9">
            <h3 class="page-title">Products</h3>
        </div>
        <div class="col col-sm-3 text-right">
            <button class="btn btn-primary" ng-click="addNew()">Add</button>
        </div>
    </div>
    <div class="row">
        <table class="table table-bordered">
            <thead>
                <th>Name</th>
                <th>Categories</th>
                <th width="150">Action</th>
            </thead>
            <tbody>
                <tr ng-repeat="p in products">
                    <td>{{p.name}}</td>
                    <td>{{displayCatName(p.cats)}}</td>
                    <td>
                        <button type="button" ng-click="edit(p)" class="btn btn-primary">Edit</button>
                        <button type="button" ng-click="delete(p.id, $index)" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <paging ng-model="products" get-data="getProductsByPage" count="count" items-per-page="6"></paging>
    </div>
</div>
