<div ng-init="init()">
    <h2>GIỚI THIỆU VỀ CHÚNG TÔI</h2>
    <p><strong>CHÚNG TÔI - Chuyên cung cấp hoa tươi Đà Lạt giá sỉ - Uy Tín - Chất Lượng - Giá Rẻ</strong></p>
    <br />
    <p>Với giá hoa ngày thường chỉ từ 700-1200đ/cành công ty hoa tươi đà lạt DLF hiện đang là nhà cung cấp hoa sỉ lớn nhất,
        giá rẻ nhất từ vườn hoa cho thị trường. Được thành lập từ lúc ban đầu chỉ với vài sào hoa hồng trồng tại vùng đất
        đồi núi trong làng hoa Vạn Thành, Tp. Đà Lạt, đến nay hoa tươi đà lạt DLF đã mở rộng quy mô và liên kết với các hộ
        nông dân trong tỉnh tăng diện tích canh tác hoa lên hàng chục hecta với đủ chủng loại từ hoa hồng, đồng tiền, cẩm
        chướng, cúc đến các loại hoa khó tính như lyly, cát tường,… khu vực trồng hoa không chỉ tập trụng tại làng hoa Vạn
        Thành, Thái phiên, mà còn mở rộng xuống tận huyện Lạc Dương, tỉnh Lâm Đồng</p>
    <br />
    <img src="images/content__images/about.jpg" alt="image" class="img-responsive" width="640px;" height="340px"> <br />
    <p>Ngày nay thương hiệu hoa tươi Đà Lạt DLF đã trở nên phổ biến đối với những hộ kinh doanh hoa sỉ tại TP. Hồ Chí Minh,
        Cần Thơ, Quy Nhơn, Đà Nẵng. Thậm chí trong từng hộ gia đình vì tính đa dạng, phổ biến của sản phẩm. Bạn dễ dàng bắt
        gặp thương hiệu DLF trên từng bao bì gói hoa. Mỗi năm hoa tươi đà lạt DLF cung cấp cho thị trường hàng triệu cành
        hoa giá sỉ, đặc biệt nhiều nhất trong các dịp lễ lớn như 20/10, 20/11, 14/2, 8/3, tết nguyên đán.</p>
    <p>Hiện nay hoa tươi đà lạt là nhà cung cấp hoa tươi giá rẻ (hoa hồng ngày thường giá chỉ 700-1200đ/cành) với quy mô lớn
        nhất cho toàn bộ các tỉnh thành phía Nam, miền trung, và các tỉnh Tây Nguyên. Với mô hình hoa tươi trực tiếp từ nông
        trại, hoa tươi sau khi được cắt tại vườn sẽ được đóng gói, vận chuyển ngay đến tận tay khách hàng, giúp hoa có độ
        nở tối ưu, cùng thời gian sử dụng là lâu dài nhất. Hoa tươi đà lạt mong muốn cung cấp hoa tươi chất lượng tốt nhất,
        giá rẻ cho mọi đối tượng khách hàng. Để đạt được mong muốn đó, bên cạnh việc tối ưu hóa trong việc vận chuyển hoa
        từ nông trại, hoa tươi đà lạt còn mở rộng liên kết với các hộ nông dân trồng hoa tại các tỉnh thành trên khắp cả
        nước, nhằm có một nguồn hoa tươi dồi dào tại vườn, giá sỉ rẻ nhất.</p>
    <p>Quý khách hàng có nhu cầu sử dụng hoa tươi tìm đến hoa tươi đà lạt sẽ được hài lòng với chất lượng hoa, giá cả, và cách
        phục vụ chắc chắn, uy tín, chuyên nghiệp. Đặc biệt là các tổ chức, các công ty đảm nhận các sự kiện thì sẽ hoàn toàn
        yên tâm khi đặt hàng tại hoa tươi đà lạt vì: Chúng tôi sẽ báo trước chắc chắn có hoa hay không, cũng như giá hoa
        giao tận nơi vào ngày quý khách cần chính xác là bao nhiêu, và nếu khách hàng không hài lòng chúng tôi cam kết hoàn
        lại tiền 100%.</p>
    <p>
        Xin liên hệ với chúng tôi vì tính chắc chắn, uy tín, hiệu quả. Riêng đối với các cá nhân, hộ kinh doanh hoa dịp lễ 14/2,
        8/3, 20/10, 20/11, tết nguyên đán liên hệ trước một tháng để nhận báo giá hoa. Nhiều quý khách hàng vẫn sợ mua hoa
        tết trúng hàng lạnh, để lâu qua ngày về khó bảo quản, hoa không nở, nhanh héo, gục đầu. Với sự tính toán chính xác
        thời gian cắt cành đảm bảo độ nở hoa tối ưu. Sau đó hoa được xử lý sau cắt cành theo công nghệ chuyển giao của Israel,
        nên từng bông hoa do công ty hoa tươi Đà Lạt DLF chuyển đến tay bạn luôn tươi nhất, độ nở vừa phải, và thời gian
        lưu giữ đặc biệt lâu bền. Quý khách hàng đặt hoa lily bên công ty sẽ được kèm theo thuốc dưỡng hoa (mỗi bó lily sẽ
        kèm theo 1 bịch thuốc dưỡng hoa), đảm bảo hoa ly nở to, đều, nở tất cả các búp, mùi thơm ngát, và thời gian chơi
        hoa khoảng 10 ngày
    </p>
    <blockquote>
        <p>Hãy liên hệ ngay cho chúng tôi để được chăm sóc tốt nhất</p>
        <small>Hotline: <cite title="Source Title">0976323776</cite></small>
        <small>Facebook: 
            <cite title="Source Title">
            <a href="https://www.facebook.com/Hoa-t%C6%B0%C6%A1i-gi%C3%A1-s%E1%BB%89-554722921369126/">
                Hoa tươi giá sỉ
            </a>
            </cite>
        </small>
        <small>Email: <cite title="Source Title">quangkhue.ptit@gmail.com</cite></small>
    </blockquote>
    <br />
</div>