<div class="container-fluid">
    <div class="row">
        <div class="sidenav">
            <ul>
                <li ng-class="{active: ['app.product', 'app.product-detail'].indexOf($state.current.name) > -1}">
                    <span ng-click="goToPage('app.product')">Product</span>
                </li>
                <li ng-class="{active: ['app.category', 'app.category-detail'].indexOf($state.current.name) > -1}">
                    <span ng-click="goToPage('app.category')">Category</span>
                </li>
                <li>Log out</li>
            </ul>
        </div>

        <div class="main-content">
            <div class="container-fluid" style="margin-left: 30px; margin-right: 30px;">
                <div ui-view autoscroll="true"></div>
            </div>
        </div>
    </div>
</div>
